<h2> Greetings </h2>

<form class="forms" action="<%= users_url %>" method="post">
<%- #references to urls should always be in printed erb tags -%>
<%- #the post method above posts the newly created user to the page of all users -%>
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
<%- #the form_authenticity_token should always be in unprinted erb tags -%>
<%- #Make sure there is NO SPACE! The form_authenticity_token returns a string. -%>
<%- #if there are any spaces, it won't match the authenticity token -%>
  <label for="user_email">Email: </label>
  <input id="user_email" type="text" name="user[email]" value="">

<br/>
  <label for="user_password">Password:</label>
  <input id="user_pssword" type="password" name="user[password]" value="">

<br/>
  <input type="submit" name="" value="Sign up">


</form>
